nav {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #242f3a;
  padding-left: 12px;
}

.brand {
  vertical-align: middle;
  font-size: 26px;
  color: #ffaf00;
  margin-right: 24px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}
