div {
  display: inline-block;
  padding: 12px;
  margin: 0;
  color: white;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
    color: #ffaf00;
  }
  a {
    text-decoration: none;
  }
}
