<div class="container mt-4 mb-4">
  <h1>Liste des heros</h1>
  <div class="mb-4 mt-4">
    <button
      [routerLink]="'/hero/create'"
      class="mr-2"
      mat-raised-button
      color="accent"
    >
      Nouveau
    </button>
    <button (click)="bulkDelete()" mat-raised-button color="warn">
      Tout supprimer
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Romain">
  </mat-form-field>

  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="example-table"
      matSort
      matSortActive="total"
      matSortDisableClear
      matSortDirection="desc"
    >
      <!-- IMAGE URI Column -->
      <ng-container matColumnDef="avatarURI">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let row">
          <img
            style="padding-right: 12px;height: auto; width: 50px; border-radius: 25px;"
            *ngIf="row.avatarURI"
            [src]="row.avatarURI"
          />
        </td>
      </ng-container>

      <!-- NAME Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          Nom
        </th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Agility Column -->
      <ng-container matColumnDef="agility">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Agilité
        </th>
        <td mat-cell *matCellDef="let row">{{ row.abilities.agility }}</td>
      </ng-container>

      <!-- ATTACK Column -->
      <ng-container matColumnDef="attack">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Attaque
        </th>
        <td mat-cell *matCellDef="let row">{{ row.abilities.attack }}</td>
      </ng-container>

      <!-- STRENGTH Column -->
      <ng-container matColumnDef="strength">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Force
        </th>
        <td mat-cell *matCellDef="let row">{{ row.abilities.strength }}</td>
      </ng-container>

      <!-- HEALTH Column -->
      <ng-container matColumnDef="health">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Santé
        </th>
        <td mat-cell *matCellDef="let row">{{ row.abilities.health }}</td>
      </ng-container>

      <!-- TOTAL Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Total
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.getTotalAbilityPoints() }}
        </td>
      </ng-container>

      <!-- ACTIONS Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-button
            mat-raised-button
            color="accent"
            (click)="goToEditHero(row)"
          >
            Voir
          </button>
          <button mat-button color="warn" (click)="deleteHero(row)">
            Supprimer
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
