<div class="container mt-4">
  <h1>Liste des heros</h1>
  <div class="mb-4 mt-4">
    <button [routerLink]="'/hero/create'" class="mr-2" mat-raised-button color="accent">Nouveau</button>
    <button (click)="bulkDelete()" mat-raised-button color="warn">Tout supprimer</button>
  </div>
  <mat-list role="list">
    <mat-list-item *ngFor="let hero of heroes | async; let i = index;" role="listitem" (click)="goToEditHero(hero)" [class.selected]="hero === selectedHero">
      {{ i }} > {{ hero.name }} - {{ hero.getTotalAbilityPoints() }} points
    </mat-list-item>
  </mat-list>
</div>
